<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>

<h1>Вход</h1>

{% if error %}
    <div>
        {{ error }}
    </div>
{% endif %}

<form method="post" action="/web/login">
    <div>
        <label>
            Логин:
            <input type="text" name="username" required>
        </label>
    </div>

    <div>
        <label>
            Пароль:
            <input type="password" name="password" required>
        </label>
    </div>

    <button type="submit">Войти</button>
</form>

</body>
</html>